section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(0deg, #ebf5fc, #8bb2d4);
  background-attachment: fixed;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px 0;
}

.card {
  position: relative;
  height: 335px;
  display: flex;
  width: 45%;
  margin: 30px 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background: #f9f9f9;
  border-radius: 10px;
}

.imgBox {
  position: absolute;
  height: 150px;
  width: 150px;
  left: 50%;
  top: calc(50%-75px);
  background: rgba(255, 255, 255, 0.1);
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  transition: 1s ease-in-out;
}

.imgBox:hover {
  position: absolute;
  top: 150px;
  backdrop: blur(20px);
  height: calc( 100% - 20px);
  width: calc( 100% - 20px);
  transition: 1s ease-in-out;
}

.imgBox img {
  max-width: 100px;
  filter: invert(0.1);
  transition: 0.5s ease-in-out;
}

.card:hover .imgBox img {
  max-width: 75px;
}
