$text-color-dark: #363636
$text-color-light: #fff
$text-color-holder: #717171
$active-color: #005CAA
$bg-color-light: #f9f9f9
$bg-color-dark: #005CAA

select
  border: none
  text-transform: uppercase
  color: $text-color-holder
